{
  "sourceMap": true,
  "presets": [
    [
      "env",
      {
        "targets": {
          "browsers": ["last 2 versions", "IE >= 10", "Safari >= 6", "iOS >= 5", "> 1%", "Android >= 3"]
        },
        "modules": false
      }
    ]
  ],
  "plugins": [
    "external-helpers"
  ],
  "env": {
    "test": {
      "plugins": ["external-helpers", "istanbul"]
    }
  }
}
