{
  "sourceMap": true,
  "presets": [
    [
      "es2015",
      {
        "modules": false
      }
    ]
  ],
  "plugins": [
    "external-helpers"
  ],
  "env": {
    "test": {
      "plugins": ["external-helpers", "istanbul"]
    }
  }
}
