/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}

body {
    font-family: 'lucida grande', tahoma, verdana, arial, sans-serif;
    color: #666;
    line-height: 1.5em;
}

.wrapper {
    max-width: 800px;
    margin: auto;
    padding: 80px 20px 30px;
}

h1 {
    text-align: center;
    font-size: 32px;
    color: #444;
    margin-bottom: 30px;
    line-height: 1.5em;
}

h2 {
    font-size: 24px;
    color: #444;
    margin-bottom: 20px;
    line-height: 1.5em;
}

p {
    font-size: 16px;
    margin-bottom: 20px;
}

ul li {
  list-style-type: square;
}

.menu-button {
    display: block;
    position: absolute;
    top: 20px;
    left: 20px;
    background: url(menu.gif) no-repeat;
    overflow: hidden;
    width: 34px;
    height: 31px;
    text-indent: -9999px;
}

.menu-button.right {
    right: 20px;
    left: auto;
}

.menu-button.bottom {
    top: 100px;
}

.menu-button.fixed {
    position: fixed;
}

#overlay {
    position: absolute;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background: transparent;
    z-index: 999998;
    display: none;
}

.sidr-open #overlay {
    display: block;
}

/* Settings for fullwidth */
.sidr.fullwidth {
    width: 100%;
}

.sidr.left.fullwidth {
    left: -100%;
}

.sidr.right.fullwidth {
    right: -100%;
}
/* END Settings for fullwidth */
